/* last update on 07:19pm 06-06-24 by vk */


@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body { background-color: #fff !important; font-family: "Poppins", sans-serif;}
#header {transition: all 0.5s; z-index: 997; padding: 10px 0;}
@media (min-width: 1400px){ .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl { max-width: 1460px;}
  }
#header .logo img { max-height: 35px;}
.navbar { padding: 0;}
.navbar ul { margin: 0; padding: 0; display: flex; list-style: none; align-items: center;}
.navbar>ul>li { padding: 5px 0 5px 40px;}
.navbar li { position: relative;}
.navbar a, .navbar a:focus { display: flex; align-items: center; justify-content: space-between; padding: 0 3px; font-size: 15px; color: #1E266D; white-space: nowrap; position: relative; text-transform: capitalize;}
.navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover>a { color: #f46a35;}
.register {display: flex !important; align-items: center !important; justify-content: space-between !important; text-transform: capitalize !important; background-color: rgba(227, 114, 68, 1) !important; font-size: 14px !important; padding: 8px 30px !important; border-radius: 50px !important; color: #fff !important; border: 1px solid rgba(227, 114, 68, 1);}
.register:hover {background-color: #fff !important; color: #1E266D !important; border: 1px solid #1E266D;}
.content_block {display: flex; justify-content: space-between;}
.content_block .left{width: 32%;}
.content_block .right{width: 32%;}
.content_block .middle{width: 32%;}
.content_block .form_block{padding: 20px; border: 1px solid #ced0dc; margin-bottom: 20px;}
.content_block .form_block label{color: #1E266D !important; padding: 0; margin-bottom: 2px; font-size: 12px;}
.content_block .form_block .form-group{margin-bottom: 10px;}
.content_block .form_block .form-group .disable{opacity: 0.5;}
.value_block {align-items: center; justify-content: space-between; align-items: center;}
.value_block .form-control{width: 49%;}
.value_block .value{border: 1px solid rgba(227, 114, 68, 1); display: flex; align-items: center; justify-content: right; padding: .47rem .75rem; background-color: rgba(255, 246, 242, 1); border-radius: 4px; width: 49%;}
.value_block .value p{margin-bottom: 0; color: rgba(58, 45, 133, 1);}
.bottom_fixed {background-color: rgba(242, 245, 253, 1); color: rgb(51, 51, 51); font-family: inherit; bottom: 0px; position: fixed; display: block; padding: 20px 25px;box-sizing: border-box; width: 100%; z-index: 9999; left: 0px; box-shadow: 0 -1px 10px 0 rgba(172, 171, 171, 0.3);}
.mb_105 {margin-bottom: 105px !important;}
.content_block .right .form_block{background-color: rgba(239, 244, 255, 1);}
.estimate_calculator h3 {font-size: 16px; color: #1e266d; margin: 10px 0 15px 0; text-transform: capitalize;}
.content_block .form_block h5 {font-size: 14px; color: #1e266d;}
.estimate_calculator h2 {font-size: 28px; text-align: center; color: #202669; font-weight: bold; margin-bottom: 20px;}
.search_block {width: 850px; height: 56px; margin: 0px auto; border-radius: 32px; border: 1px solid #A7A9BA; padding: 5px; display: flex; align-items: center; justify-content: space-between; position: relative;}
.search_block span {position: absolute; color: rgba(227, 114, 68, 1); left: 20px; font-size: 22px;}
.search_block input {margin-left: 38px; color: rgba(58, 45, 133, 0.5); font-weight: 400; font-size: 16px; border: none; width: 100%;}
.search_block .search_btn {background-color: rgba(227, 114, 68, 1); border: 1px solid rgba(227, 114, 68, 1); border-radius: 32px; color: #fff; padding: 9px 28px; text-transform: capitalize; font-size: 16px; display: flex; align-items: center; padding-left: 21px;}
.search_block .search_btn span {position: inherit; color: rgb(255 255 255); margin-right: 10px;}
.estimate_price {padding: 100px 0;}
.adv_tools p {text-align: center; color: rgba(32, 38, 105, 0.5); font-size: 21px; font-weight: 400; margin-bottom: 40px;}
.adv_tools h2 {margin-bottom: 15px;}
.tool_block {width: 296px; margin-right: 16px;}
.tool_block .tool_card{width: 100%; height: 265px; overflow: hidden; border-radius: 5px; background-clip: padding-box; background-color: rgba(242, 245, 253, 1); border: 1px solid rgba(168, 180, 211, 1);}
.tool_block .tool_card a{width: 100%; height: 100%; padding: 25px 23px; display: block;}
.tool_block .tool_card .material-symbols-outlined{color: rgba(227, 114, 68, 1); margin-left: 6px; font-size: 50px;}
.tool_block .tool_card h5 {margin-top: 13px; font-size: 16px; color: rgba(32, 38, 105, 1); font-weight: bold;}
.tool_block .tool_card p {text-align: left; color: rgba(32, 38, 105, 0.6); font-size: 14px; padding-right: 20px; margin-bottom: 12px;}
.tool_block .tool_card button {display: flex; align-items: center; border: none; background-color: unset; color: rgba(227, 114, 68, 1); font-size: 14px; text-transform: capitalize; font-weight: 600; padding: 0;}
.tool_block .tool_card button .material-symbols-outlined {margin-left: 5px; font-size: 18px;}
.tool_block:last-child {margin-right: 0;}
.adv_tools .d-flex.align-items-center {width: 1232px; margin: 0 auto;}
.reserved {width: 100%; padding: 25px; background-color: rgba(58, 45, 133, 1); display: flex; align-items: center; justify-content: center;  margin-top: 30px;}
.reserved p{margin-bottom: 0; color: rgba(107, 97, 169, 1); font-size: 17px; font-weight: 500;}
.offcanvas {width: 600px !important;}
.offcanvas h3 { font-size: 16px; color: #1e266d; margin: 0; text-transform: capitalize;}
.offcanvas label { color: rgba(32, 38, 105, 0.6) !important; padding: 0; margin-bottom: 2px; font-size: 12px;}
.offcanvas p { color: rgba(227, 114, 68, 1); font-size: 12px; font-weight: 600;}

.login_popup .modal-dialog {min-width: 800px;}
.login_popup .modal-content {border: none; border-radius: 5px;}
.login_popup .modal-body {padding: 0;}
.login_popup .close_button {position: absolute; right: 10px; top: 10px; display: flex; align-items: center; justify-content: center; padding: 3px; border-radius: 100%;}
.login_popup .close_button span{font-size: 21px;}
.signin-body{ display: flex; align-items: stretch;}
.signin-body .signin-graphic{ width: 320px;   position: relative; overflow: hidden;}
.signin-body .signin-graphic h2{ color: #fff; line-height: 31px; text-shadow: 1px 2px 2px rgb(0 0 0 / 10%); position: absolute; top: 27%; font-size: 25px; font-weight: bold; text-align: center; width: 100%;}
.signin-body .signin-graphic img{ min-height: 100%; border-radius: 5px 0 0 5px;}
.signin-body .signin-section{ width: calc(100% - 320px); height: 100%; padding: 45px; position: relative;}
.signin-section h1{ text-align: left;}
.signin-section p{ text-align: left; font-size: 18px;}
.signin-footer{ display: flex; align-items: center; justify-content: space-between; margin-top: 2.5rem!important; position: relative;}
.signup-prompt{ font-size: 13px!important; font-weight: normal!important; color: #000!important;}
.flex-wrap{ display: flex; align-items: stretch; flex-wrap: nowrap;}
.signin-body .signin-section .bold-heading{ color: rgba(0, 0, 0, 1); font-size: 22px; text-transform: capitalize; margin-bottom: 10px !important;}
.signin-body .signin-section .col-form-label{color: rgba(0, 0, 0, 1); font-size: 13px; font-weight: normal; margin-bottom: 3px; padding: 0;}


@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body { background-color: #fff !important; font-family: "Poppins", sans-serif;}
#header {transition: all 0.5s; z-index: 997; padding: 10px 0;}
@media (min-width: 1400px){ .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl { max-width: 1460px;}
  }
#header .logo img { max-height: 35px;}
.navbar { padding: 0;}
.navbar ul { margin: 0; padding: 0; display: flex; list-style: none; align-items: center;}
.navbar>ul>li { padding: 5px 0 5px 40px;}
.navbar li { position: relative;}
.navbar a, .navbar a:focus { display: flex; align-items: center; justify-content: space-between; padding: 0 3px; font-size: 15px; color: #1E266D; white-space: nowrap; position: relative; text-transform: capitalize;}
.navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover>a { color: #f46a35;}
.register {display: flex !important; align-items: center !important;justify-content: space-between !important; text-transform: capitalize !important; background-color: rgba(227, 114, 68, 1) !important; font-size: 14px !important; padding: 8px 25px !important; border-radius: 50px !important; color: #fff !important; border: 1px solid rgba(227, 114, 68, 1); font-weight: 500;}
.register span {font-size: 17px; margin-right: 5px;}
.reset {text-transform: capitalize !important; color: rgba(227, 114, 68, 1) !important; font-size: 14px !important; font-weight: 500; margin-right: 45px !important;}
.register:hover {background-color: #fff !important; color: #1E266D !important; border: 1px solid #1E266D;}
.content_block {display: flex; justify-content: space-between;}
.content_block .left{width: 19.3%;}
.content_block .right{width: 79.3%; margin-top: -8px;}
.content_block .form_block{border: 1px solid rgba(198, 211, 239, 1); border-radius: 0; padding: 5px 17px; border-bottom: none;}
.content_block .form_block label{color: rgba(9, 27, 81, 1); padding: 0; margin-bottom: 2px; font-size: 11.2px; font-weight: 600;}
.content_block .form_block .form-group{margin-bottom: 10px;}
.content_block .form_block .form-group .disable{opacity: 0.5;}
.value_block {align-items: center; justify-content: space-between; align-items: center;}
.value_block .form-control{width: 49%;}
.value_block .value{border: 1px solid rgba(227, 114, 68, 1); display: flex; align-items: center; justify-content: right; background-color: rgba(255, 246, 242, 1); border-radius: 4px; width: 49%;padding: .375rem .75rem; height: 31.6px;}
.value_block .value p{margin-bottom: 0; color: rgba(58, 45, 133, 1); font-size: 12px;}
.bottom_fixed {color: rgb(51, 51, 51); font-family: inherit; bottom: 0px; position: fixed; display: block; padding: 17px 25px;box-sizing: border-box; width: 100%; z-index: 999; left: 0px; box-shadow: 0px -4px 4px 0px rgba(98, 98, 98, 0.2); border: 1px solid rgba(255, 255, 255, 1); background: rgba(218, 226, 244, 1);}
.mb_105 {margin-bottom: 105px !important;}
.content_block .right .form_block{background-color: rgba(239, 244, 255, 1);}
.estimate_calculator h3 {font-size: 16px; color: #1e266d; margin: 10px 0 15px 0; text-transform: capitalize;}
.content_block .form_block h5 {font-size: 14px; color: #1e266d;}
.estimate_calculator h2 {font-size: 28px; text-align: center; color: #202669; font-weight: bold; margin-bottom: 20px;}
.search_block {width: 850px; height: 56px; margin: 0px auto; border-radius: 32px; border: 1px solid #A7A9BA; padding: 5px; display: flex; align-items: center; justify-content: space-between; position: relative;}
.search_block span {position: absolute; color: rgba(227, 114, 68, 1); left: 20px; font-size: 22px;}
.search_block input {margin-left: 38px; color: rgba(58, 45, 133, 0.5); font-weight: 400; font-size: 16px; border: none; width: 602px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.search_block .search_btn {background-color: rgba(227, 114, 68, 1); border: 1px solid rgba(227, 114, 68, 1); border-radius: 32px; color: #fff; padding: 9.5px 28px; text-transform: capitalize; font-size: 16px; display: flex; align-items: center; padding-left: 21px;}
.search_block .search_btn span {position: inherit; color: rgb(255 255 255); margin-right: 10px;}
.estimate_price {padding: 100px 0;}
.adv_tools p {text-align: center; color: rgba(32, 38, 105, 0.5); font-size: 21px; font-weight: 400; margin-bottom: 40px;}
.adv_tools h2 {margin-bottom: 15px;}
.tool_block {width: 296px; margin-right: 16px;}
.tool_block .tool_card{width: 100%; height: 265px; overflow: hidden; border-radius: 5px; background-clip: padding-box; background-color: rgba(242, 245, 253, 1); border: 1px solid rgba(168, 180, 211, 1);}
.tool_block .tool_card a{width: 100%; height: 100%; padding: 25px 23px; display: block;}
.tool_block .tool_card .material-symbols-outlined{color: rgba(227, 114, 68, 1); margin-left: 6px; font-size: 50px;}
.tool_block .tool_card h5 {margin-top: 13px; font-size: 16px; color: rgba(32, 38, 105, 1); font-weight: bold;}
.tool_block .tool_card p {text-align: left; color: rgba(32, 38, 105, 0.6); font-size: 14px; padding-right: 20px; margin-bottom: 12px;}
.tool_block .tool_card button {display: flex; align-items: center; border: none; background-color: unset; color: rgba(227, 114, 68, 1); font-size: 14px; text-transform: capitalize; font-weight: 600; padding: 0;}
.tool_block .tool_card button .material-symbols-outlined {margin-left: 5px; font-size: 18px;}
.tool_block:last-child {margin-right: 0;}
.adv_tools .d-flex.align-items-center {width: 1232px; margin: 0 auto;}
.reserved {width: 100%; padding: 25px; background-color: rgba(58, 45, 133, 1); display: flex; align-items: center; justify-content: center;  margin-top: 30px;}
.reserved p{margin-bottom: 0; color: rgba(107, 97, 169, 1); font-size: 17px; font-weight: 500;}
.offcanvas {width: 600px !important;}
.offcanvas h3 { font-size: 16px; color: #1e266d; margin: 0; text-transform: capitalize;}
.offcanvas label { color: rgba(32, 38, 105, 0.6) !important; padding: 0; margin-bottom: 2px; font-size: 12px;}
.offcanvas p { color: rgba(227, 114, 68, 1); font-size: 12px; font-weight: 600;}

a {text-decoration: none;}
.fixed-top {position: relative;}
.signin-wrapper{ width: 100%; max-width: 800px; margin: 25px auto; text-align: center;}
.signin-wrapper .logo{ height: 45px!important; max-height: 45px!important;}
.signin-body{ display: flex; align-items: stretch; flex-direction: row; width: 100%; min-height: calc(100vh - 210px); margin-top: 20px; margin-bottom: 20px; background-color: #fff; border-radius: 5px; overflow: hidden;}
.signin-body .signin-graphic{ width: 234px;   position: relative; overflow: hidden;}
.signin-body .signin-graphic h2{ color: #fff; line-height: 31px; text-shadow: 1px 2px 2px rgb(0 0 0 / 10%); position: absolute; top: 27%; font-size: 25px; font-weight: bold; text-align: center; width: 100%;}
.signin-body .signin-graphic img{ min-height: 100%;}
.signin-body .signin-section{ width: calc(100% - 234px); height: 100%; padding: 45px; position: relative; padding-left: 50px; padding-top: 60px;}
.signin-section h1{ text-align: left; font-size: 24px; color: rgb(51 51 51); font-weight: 800;}
.signin-section p{ text-align: left; font-size: 18px; margin-bottom: 8px;}
.signin-section .note-msg  {text-align: left; font-size: 13px; margin-bottom: 0px; font-weight: 700; position: relative;}
.signin-footer{ display: flex; align-items: center; justify-content: space-between; margin-top: 2.5rem!important; position: relative;}
.signup-prompt{ font-size: 13px!important; font-weight: normal!important; color: #000!important;}
.flex-wrap{ display: flex; align-items: stretch; flex-wrap: nowrap;}
.close-btn { position: absolute; top: 20px; right: 20px; appearance: none; -webkit-appearance: none; line-height: 1; border: none; border-radius: 100%; padding: 5px; background-color: #fff; width: 32px; height: 32px; display: flex; align-items: center; justify-content: center; z-index: 999;}
.back-to-top {display: none;}
input:focus ~ label, input:valid ~ label, textarea:focus ~ label { font-size: 10px; color: #767676; font-weight: bold;}
.form-floating>label>span { color: var(--red);}
.content_block .form-control {font-size: 11.2px; border-radius: 5px !important; border: 1px solid rgba(205, 209, 218, 1); height: 32px;}
.form-control:focus {border-color: none; box-shadow: none;}
.form-floating>label { line-height: 2.5; text-align: start;}
.lgn-otp-btn {font-size: 13px; border-radius: 50px; padding: 8px 20px; display: inline-flex; align-items: center; font-weight: 700; background-color: rgba(212, 120, 79, 1); border: 1px solid rgba(212, 120, 79, 1); color: #fff;}
.errormsg-floating { text-transform: capitalize; font-weight: 500 !important; font-size: 12px; position: absolute; top: -30px; font-style: italic; color: #e40b55 !important;}
.signin-section .loading-icon{ width: 24px; animation: 0.8s linear 0s infinite rotate;}
.login_body { background-color: #eaeaea !important;}
.signin-body .signin-section .otp-blocks { margin-top: 25px !important; margin-bottom: 12px !important; position: relative;}
.block-margin { margin: initial !important;}
.otp-inputs { display: flex; align-items: center; justify-content: space-between; width: 100%; text-align: center; max-width: 291px; margin: 0 auto; position: relative; margin-bottom: 25px;}
.signin-body .signin-section .resend-button { background-color: #f3f3f3; border: 1px solid #f3f3f3; border-radius: 40px; font-size: 10px; padding: 2px 9px; text-align: center; display: flex; align-items: center; justify-content: center; color: #636363; font-weight: 500; margin-top: 24px;}
.otp-inputs p { position: absolute; left: -5px; bottom: -20px; margin-bottom: 0; line-height: 1; font-size: 10px; color: var(--red); font-style: normal; display: none; font-weight: var(--medium);}
.signin-wrapper .signin-body .signin-section .errormsg {position: absolute; left: 45px;}
.otp-inputs input:first-child { margin-left: 0 !important;}
.otp-inputs input { height: 50px !important; border-radius: 3px !important; border: 1px solid #dadada !important; appearance: none !important; -webkit-appearance: none !important; margin: 5px !important; width: 50px !important; text-align: center !important; background-color: #f2f2f2 !important;}
.fill_btn {font-size: 13px; border-radius: 50px; padding: 8px 20px; display: inline-flex; align-items: center; font-weight: 700; background-color: rgba(212, 120, 79, 1); border: 1px solid rgba(212, 120, 79, 1); color: #fff;}
.sm-btn { appearance: none; -webkit-appearance: none; border-radius: 18px; font-size: 10px; line-height: 1; padding: 7px 10px; border: none; color: #1E222B; background-color: #eaeaea; font-weight: 700; text-transform: uppercase;}
.offcanvas .offcanvas-header .btn-close {font-size: 13px;}
.offcanvas .offcanvas-header {padding: 1rem 1.5rem;}
.offcanvas .offcanvas-body {padding: 1rem 1.5rem;}
.otp-inputs input:focus {outline: none;}
.login-section {position: fixed; top: 0; bottom: 0; left: 0; right: 0; background-color: #EAEAEA !important; overflow: scroll;}

.my_account h3 { font-size: 16px; color: #000; font-weight: 700; margin-bottom: 12px; text-transform: uppercase;}
.my_account label { color: #000000; font-size: 11.3px; font-style: normal; font-weight: 700; text-transform: capitalize; font-family: 'Montserrat', sans-serif; padding-bottom: 3px; margin-bottom: 0px !important;}
.my_account .form-control, .my_account .form-select { border: 1px solid #B6B6B6; border-radius: 5px; height: 40px; font-size: 12px;}
.my_account .country-code { display: flex; align-items: center;}
.my_account .country-code .colorselect { border-right: none; border: 1px solid #B6B6B6; border-radius: 5px 0px 0px 5px; height: 40px;}
.my_account .country-code .contact-number { border-radius: 0px 5px 5px 0px; background-color: #fff; border-left: none;}
.my_account .form-group {margin-bottom: 15px;}
.required { color: red; font-size: 16px; position: absolute; top: 1px;}
.my_account .terms-block { display: flex; align-items: center; justify-content: flex-start;}
.my_account .terms-block #terms-check { border-radius: 3px; border: 1px solid #B6B6B6; width: 15px; height: 15px; background-color: #F2A341; border: 1px solid #F2A341;}
.my_account .terms-block label { padding-bottom: 0px; margin-bottom: 0px; text-transform: capitalize; margin-left: 5px; font-size: 12px;}
.my_account .btn{ font-size: 13px; border-radius: 5px; padding: 10px 18px; display: inline-flex; align-items: center; font-weight: 700; background-color: rgba(212, 120, 79, 1); border: 1px solid rgba(212, 120, 79, 1); color: #fff; float: right;}
.my_account .btn:focus {box-shadow: none;}

#header h3 { color: rgba(9, 27, 81, 1); font-size: 19px; font-weight: 700;}
.property_info {position: relative;}
.property_info .info {padding: 15px; padding-left: 0; margin-bottom: 8px; padding-top: 6px;}
.property_info .card-wrapper {width: 100%; display: flex; align-items: center;}
.property_info .icon-box { width: 38px; height: 38px; border-radius:3px; background-color: rgba(223, 232, 250, 1); display: flex; align-items: center; justify-content: center;}
.property_info .icon-box span {color: rgba(88, 104, 140, 1); font-size: 22px;}
.property_title .back {background-color: rgba(212, 120, 79, 0.2); border: 1px solid rgba(212, 120, 79, 1); border-radius: 3px; padding: 3px; color: rgba(212, 120, 79, 1); font-size: 8.5px; text-transform: capitalize; font-weight: 500; display: flex; align-items: center; padding-left: 2px; padding-right: 8px;}
.property_info .card-info { margin-left: 10px; display: flex; align-items: flex-start; flex-direction: column; height: 100%;}
.property_info .card-info h6{ color: rgba(212, 120, 79, 1); font-size: 14px; font-weight: 600; margin-bottom: 0px;}
.property_info .card-info p{color: rgba(32, 38, 105, 1);font-size: 14px; font-weight: 500; margin-bottom: 0; white-space: nowrap;}
.property_title .back span {margin-right: 1px; font-size: 14px;}
.left .header_block {border: 1px solid rgba(198, 211, 239, 1); border-radius: 4px 4px 0 0; padding: 10px 17px; border-bottom: none;}
.left .header_block h6{color: rgba(9, 27, 81, 1); margin-bottom: 0; font-size: 15px; text-transform: capitalize; font-weight: 600;}
.total_block {border-radius: 0 0 4px 4px; padding: 5px 17px; border: 1px solid rgba(198, 211, 239, 1); border-top: 1px dashed rgba(198, 211, 239, 1);}
.total_block .form-group{margin-bottom: 8px;}
.total_block label{color: rgba(9, 27, 81, 1); font-size: 14px; text-transform: capitalize; margin-bottom: 2px; padding-bottom: 0; font-weight: 600; padding-top: 0;}
.total_block .disable{background-color: rgba(218, 226, 244, 1); border: none; text-align: right; font-weight: 700; color: rgba(20, 29, 56, 1);}
.content_block .right label{color: rgba(9, 27, 81, 1); padding: 0; margin-bottom: 2px; font-size: 11.2px; font-weight: 600;}
.content_block .right .form-group { margin-bottom: 10px;}
.content_block .right .col-5 { flex: 0 0 auto; width: 16.66%;; padding-right: 0.4rem; padding-left: 0.4rem;}
.content_block .left .form_block .col-md-6{padding-right: 0.4rem; padding-left: 0.4rem;}
.content_block .left .total_block .col-md-6{padding-right: 0.4rem; padding-left: 0.4rem;}
.result_popup .modal-dialog {max-width: 1450px;}
.result_popup.d-none {display: none;}
.result_popup .modal-header {background-color: rgba(218, 226, 244, 1); box-shadow: 0px -4px 4px 0px rgba(98, 98, 98, 0.2); padding: 15px 25px;}
.result_popup .modal-header .modal-title{color: rgba(9, 27, 81, 1); font-size: 14.5px; text-transform: capitalize; font-weight: 700;}
.result_popup .pop_close {background-color: transparent; border: none; padding: 0; margin: 0; display: flex; align-items: center; justify-content: center;}
.result_popup .pop_close span{color: rgba(28, 27, 31, 1); font-style: normal; font-size: 22px;}
.result_popup .popup_body {padding: 25px 25px;}
.result_popup .popup_body label{color: rgba(103, 121, 176, 1); font-size: 11.5px; text-transform: capitalize; padding: 0; font-weight: 500;}
.result_popup .popup_body p{color: rgba(9, 27, 81, 1); font-size: 11.5px; font-weight: 700;}
.result_popup .popup_body label{color: rgba(103, 121, 176, 1); font-size: 11.5px; text-transform: capitalize; padding: 0; font-weight: 500; white-space: nowrap;}
.result_popup .popup_body .col-8 {flex: 0 0 auto;  width: 14.285%; padding-right: 1rem; padding-left: 1rem;}
.result_popup .popup_footer {box-shadow: 0px -4px 4px 0px rgba(98, 98, 98, 0.2); display: flex; align-items: center; justify-content: right; padding: 15px 25px;}

.result_popup .popup_body p {margin-bottom: 0;}
.result_popup .popup_body .form-group {margin-bottom: 23px;}
.result_popup .popup_body .value_block {justify-content: unset; align-items: center;}
.result_popup .popup_body .value_block .value{border: 1px solid rgba(205, 209, 218, 1); display: flex; align-items: center; justify-content: left; background-color: rgba(247, 250, 255, 1); border-radius: 4px; width: 47px; padding: 4px 8px; height: 20px; margin-right: 12px;}
.result_popup .popup_body .value_block .value p {font-size: 11px; color: rgba(9, 27, 81, 0.6)}
.result_popup .popup_body .property_info .card-info p { color: rgba(32, 38, 105, 1); font-size: 14px; font-weight: 500; margin-bottom: 0;}
.result_popup .property_info .info {padding-top: 0px; width: auto;}
.content_block .left .form_block {margin-bottom: 0;}
.header-item .d-xl-inline-block {font-size: 13.5px;}
.card {border: none;}
.main-content .page-content .container-fluid {padding-right: 5px; padding-left: 5px;}
.card-height {min-height: calc(100vh - 198px);}
.properties {height: calc(100vh - 147px)};
.recent_searches .property_info .card-info p { width: 211px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.property_calculator #header {padding: 0 !important;}
.property_calculator #header #page-topbar{position: inherit !important; margin-bottom: 20px !important;}
.property_calculator .estimate_calculator {margin-bottom: 100px;}

.my_account .ins-dsp-none {display: none !important}
.my_account .create-password-instruction { display: block; padding: 15px; height: -moz-fit-content; height: fit-content; padding-bottom: 10px; position: absolute; left: 12px; top: 81%; border-radius: 4px; background-color: #f6f6f6;}
.my_account .create-password-instruction .error { display: flex; align-items: center; text-align: left; font-size: 12px; color: red; font-weight: 500; margin-bottom: 3px;}
.my_account .create-password-instruction .vaild { color: #1f9f25; font-weight: 500;}
.my_account .create-password-instruction .material-symbols-outlined { font-size: 20px; font-weight: 600;}
.page-content { padding: calc(64px + 3px) calc(24px / 2) 60px calc(24px / 2) !important;}

.custom_popup { background-color: #000000c2; position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: 99999; display: flex; align-items: center; justify-content: center;}
.custom_popup .popup_content { width: 100%; max-width: 1450px; margin: 0 auto; background-color: #fff; border-radius: 5px;}
.custom_popup .popup_content .header { background-color: rgba(218, 226, 244, 1); box-shadow: 0px -4px 4px 0px rgba(98, 98, 98, 0.2); padding: 15px 25px; display: flex; flex-shrink: 0; align-items: center; justify-content: space-between; border-radius: 5px 5px 0 0;}
.custom_popup .popup_content .header .title { color: rgba(9, 27, 81, 1); font-size: 14.5px; text-transform: capitalize; font-weight: 700;}
.custom_popup .popup_content .header .close { background-color: transparent; border: none; padding: 0; margin: 0; display: flex; align-items: center; justify-content: center;}
.custom_popup .popup_content .header .icon { color: rgba(28, 27, 31, 1); font-style: normal; font-size: 22px;}

#page-topbar .navbar-header {padding-right: 2rem;}
#page-topbar .navbar-brand-boxnavbar-header {padding: 0 2rem;}
.landing_page #header {padding: 0 !important;}
.landing_page #header #page-topbar{position: inherit !important;}
.sweet-alert  {width: 26em !important;}
.sweet-alert h2{color: #091B51; text-transform: capitalize; font-size: 21px !important}
.sweet-alert .btn-primary{ align-items: center !important; background-color: #e37244 !important; border: 1px solid #e37244 !important; color: #fff !important; display: flex !important; font-size: 14px !important; box-shadow: none !important; font-weight: 600;}
.estimate_calculator .property_title h3 {font-size: 16px; color: #1e266d; margin: 0; text-transform: capitalize; font-weight: 700;}
.estimate_calculator .property_title {margin-bottom: 14px;}
.recent_searches .card-body { padding: 10px; cursor: pointer;}
::-webkit-input-placeholder { color: rgba(0, 0, 0, 0.4) !important;}
::-moz-placeholder { color: rgba(0, 0, 0, 0.4) !important;}
:-ms-input-placeholder {color: rgba(0, 0, 0, 0.4) !important;}
:-moz-placeholder { color: rgba(0, 0, 0, 0.4) !important;}
.my_account .title-block {margin-bottom: 13px;}
.my_account .title-block .card-title{margin-bottom: 0 !important;}
.my_account .title-block .property_info .back {position: inherit; right: unset !important; bottom: unset !important;}
.recent_searches .property_info .card-info p { width: 217px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.my_account .form-group {width: 45%; position: relative;}
.my_account .form-group .required{position: absolute; top: 2px;}
.my_account .form-group .text-danger{position: absolute; font-size: 11px;}
.my_account .terms-block {margin-top: 10px;}
.my_account .update_button {margin-bottom: 15px; width: 7%;}
.my_account .update_button label {color: #fff;}
.title-block .back { background-color: rgba(212, 120, 79, 0.2); border: 1px solid rgba(212, 120, 79, 1); border-radius: 3px; padding: 3px; color: rgba(212, 120, 79, 1); font-size: 8.5px; text-transform: capitalize; font-weight: 500; display: flex; align-items: center; padding-left: 2px; padding-right: 8px;}
.title-block .back span { margin-right: 1px; font-size: 14px;}
.saved_search_table th {white-space: nowrap;}
.table-responsive::-webkit-scrollbar { height: 5px !important; width: 5px !important;}
.table-responsive::-webkit-scrollbar-thumb { background: #cbc9c9; border-radius: 6px;}
.table-responsive::-webkit-scrollbar-track { background: #e7e7e7;}

@media (min-width: 1600px) {
  #header .container { max-width: 1850px !important;}
  .container {max-width: 1850px !important;}
  .estimate_price { padding: 141.5px 0 !important;}
  .signin-wrapper { height: calc(100vh - 74px) !important;}
  .signin-body { min-height: calc(100vh - 421px) !important; max-height: 800px !important;}
  .login-section .signin-wrapper .logo { height: 53px !important; max-height: 53px !important;}
  .signin-body .signin-graphic h2 { font-size: 26px !important;}
  .pending-header h1, .bold-heading { font-size: 30px !important;}
  .signin-section p { font-size: 20px !important;}
  .signin-section .note-msg {font-size: 14px !important;}
  input:focus ~ label, input:valid ~ label, textarea:focus ~ label { font-size: 12px !important;}
  .fill_btn { font-size: 16px !important; padding: 9px 22px !important;}
  .signup-prompt { font-size: 15px !important;}
  .recent_searches .property_info .card-info p {width: 309px !important;}
  .my_account .create-password-instruction {left: 12px !important; top: 81% !important;}
  .my_account .form-group {width: 46% !important; position: relative;}
  .my_account .update_button { margin-bottom: 15px; width: 5.5% !important;}
}


@media (min-width: 1200px) and (max-width:1367px) {
  .container {max-width: 1300px !important;}
  .recent_searches .property_info .card-info p {width: 167px !important;}
  .result_popup .popup_content { max-width: 1325px !important;}
  .result_popup .popup_body label {font-size: 11px !important}
  .my_account h3 {margin-bottom: 5px !important;}
  .my_account .card-height .col-md-12.mb-4 {margin-bottom: 0.5rem !important;}
  .my_account .create-password-instruction {left: 12px !important; top: 79% !important;}
  .my_account .form-group {width: 44.5% !important; position: relative;}
  .my_account .update_button { margin-bottom: 15px; width: 8.5% !important;}
  
}
@keyframes rotate {0%{ transform: rotate(0deg); }100%{ transform:rotate(360deg); }}


.error-wrapper { position: absolute; left: 60%; top: 50%; transform: translate(-50%, -50%); width: 98%; max-width: 800px; text-align: center;display: flex; align-items: center; flex-direction: column; font-family:"Poppins", sans-serif;}
.error-wrapper .button_style { background-color: #ffffff; color: #19123b;  border: 1px solid #19123b; padding: 5px 20px; border-radius: 1px;}
.error-wrapper img { padding-bottom: 10px;}
.main-content .page-content .container-fluid .row .card-body .no_recent_searches {height: calc(100vh - 195px) !important;}
.page-content .recent_property_values label { color: rgba(103, 121, 176, 1); font-size: 11.5px; text-transform: capitalize; padding: 0; font-weight: 500; white-space: nowrap; }
.page-content .recent_property_values p { color: rgba(9, 27, 81, 1); font-size: 11.5px; font-weight: 700;}
.no-recent-searches { text-align: center;}